<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head}"></head>
<body>
<div class="wrapper">
    <header th:replace="~{layout :: header-layout}"></header>
    <main>
        <div class="home">
            <h3>
                Selamat datang di Troll Market
            </h3>
            <p>
                Ini adalah market place yang tidak pernah ada promosi dan diskon.
            </p>
            <p>
                Karena ini hanya assignment buat kalian, jadi buat apa ada diskon.
            </p>
        </div>
    </main>
</div>
</body>
</html>